.name1 {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  li {
    a {
      position: relative;
      display: flex;
      padding: 1px;
      color: #02AEC6;
      text-transform: capitalize; 
      font-family: sans-serif;
      text-decoration: none;
      font-style: normal;

      span {
        position: relative;
        overflow: hidden;
        color: #02AEC6;
      text-transform: capitalize; 
        transition: 0.5s;
        font-style: normal;

        .out {
          display: inline-flex;
        }

        .in {
          position: absolute;
          left: 0;
          opacity: 0;
          transform: translateX(100%);
        }
      }

      &:hover {
        span {
          color: #7FFFD4;
          .out {
            opacity: 0;
            transform: translateX(-100%);
          }

          .in {
            opacity: 1;
            transform: translateX(0);
          }
        }
      }
    }
  }
}
